@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<!--Some Services-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="services-slider" class="owl-carousel">
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-clipboard"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">Well Documented</a></h4>
                        <p>All requested user documention will be written to be user freindly, clean and concise</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-laptop"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">Fully Responsive</a></h4>
                        <p>All web applications and websites are written to be fully resposive accross all platforms and devices</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-support"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">Full Support</a></h4>
                        <p>We provide full support to our clients to keep business running well if any problems occur</p>
                    </div>
                </div>

                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-globe"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">SEO Optimized</a></h4>
                        <p>We carry out a full online marketing campaign for your website and business</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Some Services ends-->
<!--Some Feature -->
<section id="our-feature" class="padding_bottom padding_top_half single-feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7 text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
                <div class="heading-title heading_space">
                    <span>Charlie Digital</span>
                    <h3 class="darkcolor">Services We Offer</h3>
                    <p class="">
                        We understand the need to boost your online business, improve business efficiency and ensure a good user experience for your customers, employees and partners. We have been helping our clients to build and enhance their applications and digital platforms throughout the years by using the latest technologies and our agile and responsive delivery methods.

                        Our dedicated web app developers can guide you through the digital journey and build web applications tailored to your needs and expectations. We have expertise in building distributed systems of various scale, setting up database structures, system integration and data analytics throughout a range of different industries.
                    </p>
                </div>

                <a href="#contactus" class="button btnsecondary pagescroll">A company you can talk to </a>
            </div>
            <div class="col-md-6 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
                <div class="image top50"><img alt="SEO" src="~/images/charlieDigitalServices.jpg"></div>
            </div>
        </div>
    </div>
</section>
<!--Some Feature ends-->
<!--Gallery-->
<section id="portfolio-xe" class="bglight padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12 text-center">
                <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <span>Techincal Projects</span>
                    <h2 class="darkcolor bottom10">Our Work</h2>
                    <p class="heading_space">Here at Charlie Digital, we have had the oppertunity to work on some great projects from big names like Old Mutual Wealth and ARM </p>
                    <div id="flat-filters" class="cbp-l-filters dark bottom30">
                        <div data-filter="*" class="cbp-filter-item">
                            <span>All</span>
                        </div>
                        <div data-filter=".web" class="cbp-filter-item">
                            <span>Web</span>
                        </div>
                        <div data-filter=".graphic" class="cbp-filter-item">
                            <span>Animation</span>
                        </div>
                        <div data-filter=".logo" class="cbp-filter-item">
                            <span>Logo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="flat-gallery" class="cbp">
            <div class="cbp-item web">
                <img src="images/arm-code-advisor.jpg" alt="">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox="gallery" href="https://www.youtube.com/watch?v=lWDcbTZQpJk"></a>
                    <h4 class="top30">Arm Code Advisor</h4>
                    <p>Angular 2 Front End Application</p>
                </div>
            </div>
            <div class="cbp-item web">
                <img src="images/openforvintage.jpg" alt="">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox data-type="iframe" data-src="https://www.openforvintage.com/" href="javascript:;"></a>
                    <h4 class="top30">Open For Vintage</h4>
                    <p>Nop Commerce E-Commerce Project</p>
                </div>
            </div>
            <div class="cbp-item graphic">
                <img src="~/images/charlieDigitalBanner.jpg" alt="">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox data-type="iframe" data-src="http://gb2g.hollingerscott.uk/" href="javascript:;"></a>

                    @*<h4 class="top30">GBG Fable Sword &Aacute; Sheild</h4>*@
                    <p>CSS Animated Project</p>
                </div>
            </div>
            <div class="cbp-item web">
                <img src="images/charliedigital-oldmutual.jpg" alt="">
                <div class="overlay center-block whitecolor">
                    <a class="plus" target="_blank" href="https://www.quilter.com/"></a>

                    <h4 class="top30">Old Mutual Wealth</h4>
                    <p>ADFS integrated MVC Feedback Tool App</p>
                </div>
            </div>
            <div class="cbp-item web">
                <img src="images/charliedigital-basketballengland.jpg" alt="">
                <div class="overlay center-block whitecolor" style="text-align:center;">
                    <a class="plus" target="_blank" href="https://www.basketballengland.co.uk/"></a>

                    <h4 class="top30">Basketball England</h4>
                    <p style="text-align:center;">
                        Umbraco Frontend Website and

                        <br />
                        Administration System
                    </p>

                </div>
            </div>
            <div class="cbp-item web">
                <img src="images/charliedigital-derekmitchell.jpg" alt="">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox data-type="iframe" data-src="http://www.derekmitchellelec.co.uk/commercial" href="javascript:;"></a>

                    <h4 class="top30">Derek Mitchell Electrical</h4>
                    <p>Company Website</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Gallery ends -->
<!-- WOrk Process-->
<section id="our-process" class="padding gradient_bg_default">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <h2 class="whitecolor">Work <span class="fontregular">Process</span> </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="process-wrapp">
                <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
                    <span class="pro-step bottom20">01</span>
                    <p class="fontbold bottom25">Concept</p>
                    <p>Everything starts with an idea, or a problem. Share your thoughts and problems with us</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                    <span class="pro-step bottom20">02</span>
                    <p class="fontbold bottom25">Plan</p>
                    <p>We will put in place the best plan of action and regularly communicate and new changes and suggestions with you</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
                    <span class="pro-step bottom20">03</span>
                    <p class="fontbold bottom25">Design</p>
                    <p>IF you have any imput to anything looks or functionality wise let us know or leave it all to us. We specialise in design also.</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                    <span class="pro-step bottom20">04</span>
                    <p class="fontbold bottom25">Development</p>
                    <p>This is what we do best! using the most current technologies and practices we will make sure you get EXACTLY what you want</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
                    <span class="pro-step bottom20">05</span>
                    <p class="fontbold bottom25">Quality Check</p>
                    <p>Continuous Integration will constanly allow you to check pogress, add input and feedback and revise</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--WOrk Process ends-->
@*<!-- Our Team-->
    <section id="our-team" class="padding bglight">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12 text-center">
                    <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                        <span>Heros Behind the Company</span>
                        <h2 class="darkcolor bottom20">Creative Team</h2>
                        <p class="heading_space">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="ourteam-slider" class="owl-carousel">
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="images/team-1.jpg" alt="">
                                </div>
                                <div class="team-content gradient_bg whitecolor">
                                    <h3>John Harris</h3>
                                    <p class="bottom40">Developer</p>
                                    <div class="progress-bars">
                                        <div class="progress">
                                            <p>Marketing online</p>
                                            <div class="progress-bar" data-value="90"><span>90%</span></div>
                                        </div>
                                        <div class="progress">
                                            <p>Web Designing</p>
                                            <div class="progress-bar" data-value="75"><span>75%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="images/team-2.jpg" alt="">
                                </div>
                                <div class="team-content gradient_bg_default whitecolor">
                                    <h3>James Hardy</h3>
                                    <p class="bottom40">CEO, Project Manager, Developer</p>
                                    <div class="progress-bars">
                                        <div class="progress">
                                            <p>Web Designing</p>
                                            <div class="progress-bar" data-value="75"><span>75%</span></div>
                                        </div>
                                        <div class="progress">
                                            <p>Marketing online</p>
                                            <div class="progress-bar" data-value="90"><span>90%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box single">
                                <div class="image">
                                    <img src="images/team-3.jpg" alt="">
                                </div>
                                <div class="team-content gradient_bg whitecolor">
                                    <h3>Lewis Bennet</h3>
                                    <p class="bottom40">Designer, Developer</p>
                                    <div class="progress-bars">
                                        <div class="progress">
                                            <p>Fashion Designing</p>
                                            <div class="progress-bar" data-value="80"><span>80%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="images/team-1.jpg" alt="">
                                </div>
                                <div class="team-content gradient_bg whitecolor">
                                    <h3>Johny Walkin.</h3>
                                    <p class="bottom40">CEO, The XeOne Company</p>
                                    <div class="progress-bars">
                                        <div class="progress">
                                            <p>Marketing online</p>
                                            <div class="progress-bar" data-value="90"><span>90%</span></div>
                                        </div>
                                        <div class="progress">
                                            <p>Web Designing</p>
                                            <div class="progress-bar" data-value="75"><span>75%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="images/team-2.jpg" alt="">
                                </div>
                                <div class="team-content gradient_bg_default whitecolor">
                                    <h3>Johny Walkin.</h3>
                                    <p class="bottom40">Designer, The XeOne Company</p>
                                    <div class="progress-bars">
                                        <div class="progress">
                                            <p>Web Designing</p>
                                            <div class="progress-bar" data-value="75"><span>75%</span></div>
                                        </div>
                                        <div class="progress">
                                            <p>Marketing online</p>
                                            <div class="progress-bar" data-value="90"><span>90%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="images/team-3.jpg" alt="">
                                </div>
                                <div class="team-content gradient_bg whitecolor">
                                    <h3>Teena Walkin</h3>
                                    <p class="bottom40">Model, The XeOne Company</p>
                                    <div class="progress-bars">
                                        <div class="progress">
                                            <p>Fashion Designing</p>
                                            <div class="progress-bar" data-value="80"><span>80%</span></div>
                                        </div>
                                        <div class="progress">
                                            <p>Marketing online</p>
                                            <div class="progress-bar" data-value="90"><span>90%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Team ends-->*@

@*<!-- Video Click -->
    <section id="video-bg" class="video-parallax padding_top">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 wow fadeInLeft" data-wow-delay="300ms">
                    <div class="heading-title text-md-left text-center padding_bottom">
                        <span>We have an excellent story</span>
                        <h2 class="fontregular bottom20 darkcolor">Watch Our Video</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut laboret dolore magna aliquyam erat, sed diam voluptua laboret dolore magna.</p>
                        <a href="#contactus" class="button btnprimary top20 pagescroll">Buy Now</a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 padding_bottom wow fadeInRight" data-wow-delay="350ms">
                    <div class="image hover-effect">
                        <img alt="video img" src="images/video-click.jpg">
                        <a data-fancybox href="https://www.youtube.com/watch?v=GhvD7NtUT-Q&autoplay=1&rel=0&controls=1&showinfo=0" class="button-play fontmedium"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Video Click-->*@


<!-- Mobile Apps -->
<section id="our-apps" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <span>Yes We Provide Mobile Apps</span>
                    <h2 class="darkcolor heading_space">Mobile Applications</h2>
                </div>
            </div>
        </div>
        <div class="row" id="app-feature">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="content-left clearfix">
                    <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
                        <span class="icon"><i class="fa fa-mobile-phone"></i></span>
                        <div class="text">
                            <h4>Responsive Design</h4>
                            <p>Responsive design to target all OS versions across android and iphone. All layouts are adapted to give a user friendly regardless of the phone's orientation</p>
                        </div>
                    </div>
                    <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
                        <span class="icon"><i class="fa fa-cog"></i></span>
                        <div class="text">
                            <h4>Amazing Theme Options</h4>
                            <p>We can create a custom theme or let us see a design/theme you like and we will implement this </p>
                        </div>
                    </div>
                    <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
                        <span class="icon"><i class="fa fa-edit"></i></span>
                        <div class="text">
                            <h4>Easy to Customize</h4>
                            <p>Let us know you requirements and we will make sure we cater for them all</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="image feature-item text-center wow fadeIn" data-wow-delay="500ms">
                    <img src="images/responsive.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="content-right clearfix">
                    <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
                        <span class="icon"><i class="fa fa-code"></i></span>
                        <div class="text">
                            <h4>Powerful BackEnd</h4>
                            <p>We can use native phone storage or on-device database to drive the data on your mobile app. We can also write a powerfull API to drive your data from the cloud</p>
                        </div>
                    </div>
                    <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
                        <span class="icon"><i class="fa fa-folder-o"></i></span>
                        <div class="text">
                            <h4>Well Documented</h4>
                            <p>We will provide in depth user freindly documentation and any required training documentation </p>
                        </div>
                    </div>
                    <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
                        <span class="icon"><i class="fa fa-support"></i></span>
                        <div class="text">
                            <h4>Full Support</h4>
                            <p>Anything you are not sure of? feel free to get in touch anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>                                                                                                                             <!--Mobile Apps ends-->
<!-- Counters -->
<section id="funfacts" class="padding_top fact-iconic gradient_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 margin_bottom whitecolor text-md-left text-center wow fadeInUp" data-wow-delay="300ms">
                <h3 class="bottom25">Our many years of experience will deliver your expectations</h3>
                <p class="title">We work with small businesses to large organisations</p>
            </div>
            <div class="col-md-7 col-sm-12 text-center">
                <div class="row">
                    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="350ms">
                        <div class="img-icon bottom15">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        @*<div class="counters">
                                <span class="count_nums" data-to="2500" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                            </div>*@
                        <p class="title">Satisfied customers</p>
                    </div>
                    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="400ms">
                        <div class="img-icon bottom15">
                            <i class="fa fa-language"> </i>
                        </div>
                        @*<div class="counters">
                                <span class="count_nums" data-to="9500" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                            </div>*@
                        <p class="title">Completed consultations</p>
                    </div>
                    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="500ms">
                        <div class="img-icon bottom15">
                            <i class="fa fa-desktop"></i>
                        </div>
                        @*<div class="counters">
                                <span class="count_nums" data-to="6000" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                            </div>*@
                        <p class="title">Carried out training</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counters ends-->
<!-- Pricing Tables -->
<section id="our-pricings" class="padding bglight">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12 text-center">
                <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <span>Our Expertise</span>
                    <h2 class="darkcolor bottom30">How We Can Help</h2>
                    <p>From small user-content-managed business websites to large enterprise administration web systems, desktop software and mobile phone apps,  We can help!</p>
                </div>
            </div>
        </div>
        <div class="row three-col-pricing">
            <div class="col-lg-4 col-sm-12">
                <div class="price-table top60 wow fadeIn" data-wow-delay="350ms">
                    <h3 class="bottom20 darkcolor">Web Development</h3>
                    <p>Regardless of the size of your business, we offer a large range of web based services. From content managed websites to administration systems, online marketing, branding design, SEO, web based animation and much much more! Feel free to get in touch to discuss how we can take care of all your online business needs</p>

                    <a href="tel:01387 267756" style="font-size:28px;" class="defaultcolor">
                        <i class="fa fa-mobile-phone defaultcolor" style="font-size:38px;"></i>
                    </a>
                    <div class="ammount">
                        <a href="tel:01387 267756" style="font-size:28px;" class="defaultcolor"> CALL NOW <span class="dur"></span></a>
                    </div>
                    <ul class="top20">
                        <li><span>Designing a small brand</span></li>
                        <li><span>Redesign the company logo/branding</span></li>
                        <li><span>Website/Web System Design</span></li>
                        <li><span>Website/Web System Functionality</span></li>
                        <li><span>Website/Web System Hosting</span></li>
                        <li><span>Front End Application Design</span></li>
                        <li><span>SEO</span></li>
                        <li><span>Online Animation</span></li>
                    </ul>
                    <div class="clearfix"></div>
                    <a href="#contactus" class="button btnprimary top50">Get Started </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="price-table active top60 wow fadeIn" data-wow-delay="400ms">
                    <h3 class="bottom20 darkcolor">OS Development</h3>
                    <p>We provide fully bespoke desktop applications. Any web system can be created as a desktop application or in-house application. Desktop applications can run and be fully managed without needing a connection to the internet. They can also be shared between a single work place/network making them more secure.</p>
                    <i class="fa fa-mobile-phone defaultcolor" style="font-size:38px;"></i>
                    <div class="ammount">
                        <a href="tel:01387 267756" style="font-size:28px;" class="defaultcolor"> CALL NOW <span class="dur"></span></a>
                    </div>
                    <ul class="top20">
                        <li><span>Desktop Application Branding</span></li>
                        <li><span>Desktop Application Development</span></li>
                        <li><span>Desktop Application Hosting</span></li>
                        <li><span>Training</span></li>
                        <li><span>Well Written Documentation</span></li>
                        <li><span>Organisational Setup</span></li>
                        <li><span>Daily Automated Business Tasks</span></li>
                        <li><span>Windows / IOS</span></li>
                    </ul>
                    <div class="clearfix"></div>
                    <a href="#contactus" class="button btnsecondary top50">Get Started </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="price-table top60 wow fadeIn" data-wow-delay="450ms">
                    <h3 class="bottom20 darkcolor">Mobile Applications</h3>
                    <p>We create fully tailored IOS and Android Apps to your specification. Mobile Phone Apps can be developed to manage your needs via the internet or fully offline. Making use mobile phone's native API, tapping into the phone's location, camera, notifications and much more can be a basis for a potentially unique application</p>
                    <i class="fa fa-mobile-phone defaultcolor" style="font-size:38px;"></i>
                    <div class="ammount">
                        <a href="tel:01387 267756" style="font-size:28px;" class="defaultcolor"> CALL NOW <span class="dur"></span></a>
                    </div>
                    <ul class="top20">
                        <li><span>Mobile Application Branding</span></li>
                        <li><span>Mobile Application Development</span></li>
                        <li><span>Online/Offline Apps</span></li>
                        <li><span>Expose full use of mobile hardware</span></li>
                        <li><span>Android and IOS Apps</span></li>
                        <li><span>Fully Responsive between mobile versions</span></li>
                        <li><span>App store submission</span></li>
                        <li><span>Social Media User Identity Login</span></li>
                    </ul>
                    <div class="clearfix"></div>
                    <a href="#contactus" class="button btnprimary top50">Get Started </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Pricing Tables ends-->
<!-- Testimonials -->
<section id="our-testimonial" class="padding testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <div id="testimonial-quote" class="owl-carousel" style="background-color:black; opacity:0.5; padding:30px; border-radius:25px;">
                    <div class="item">
                        <div class="testimonial-quote whitecolor">
                            <h3 class="bottom30">If you are a small business and you are interested in small rebranding then this is a perfect plan for you</h3>
                            <h6>Graham Hollinger</h6>
                            <small>CEO, HollingerScott</small>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-quote whitecolor">
                            <h3 class="bottom30">If you are a small business and you are interested in small rebranding then this is a perfect plan for you</h3>
                            <h6>Nick West</h6>
                            <small>Learning & Development Specialist, Old Mutual Wealth</small>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-quote whitecolor">
                            <h3 class="bottom30">We show you our professional achievements in numbers, which show the acquired skills</h3>
                            <h6>Lewis Greirson</h6>
                            <small>Managing Director, XHT Solutions</small>
                        </div>
                    </div>
                </div>
                <div id="owl-thumbs" class="owl-dots">
                    <div class="owl-dot active"><img src="images/testimonial-1.jpg" alt=""></div>
                    <div class="owl-dot"><img src="images/testimonial-2.jpg" alt=""></div>
                    <div class="owl-dot"><img src="images/testimonial-3.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonials Ends-->
<!-- Partners -->
<section id="logos" class="padding">
    <div class="container">
        <h3 class="invisible">hidden</h3>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div id="partners-slider" class="owl-carousel">
                    <div class="item">
                        <div class="logo-item"> <img alt="" src="images/logo-1.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" style="  background-position-y: 80%;" src="images/logo-2.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-3.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-4.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-5.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-1.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-2.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-3.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-4.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="images/logo-5.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Partners Ends-->
<!-- Our Blogs -->
<section id="our-blog" class="half-section">
    <div class="container">
        <div class="row">

            @{
                var newsItem = Model.Children.Where(x => x.Name == "News").FirstOrDefault().Children().FirstOrDefault();

                <div class="col-md-5 col-sm-12">
                    <div class="image hover-effect"><img src="@newsItem.GetCropUrl("NewsImage", "square")" height="400" width="600" alt="our blog"></div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="split-box center-block equalheight container-padding">
                        <div class="heading-title" style="padding-top:25px;">
                            <h2 class="darkcolor bottom10 wow fadeIn" data-wow-delay="350ms">News</h2>
                            <span class="wow fadeIn" style="padding-bottom:5px;" data-wow-delay="300ms">Read Our Latest News</span>

                            <p class="bottom30 wow fadeInUp" data-wow-delay="400ms">@newsItem.Value("NewsContent")</p>
                            <a href="@newsItem.Url" class="button btnsecondary wow fadeInUp" data-wow-delay="450ms">Read Full Story</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Our Blogs Ends-->
<!-- Contact US -->
<section id="contactus" class="padding_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
                    <span>Lets Get In Touch</span>
                    <h2 class="darkcolor">Contact Charlie Digital</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="350ms">
                <p>We, at Charlie Digital are a company you can talk to as an idividual. Wether you are looking for a new website, web system, mobile phone app, backend or just some web related advice, please feel free to give us a call or get in contact via the contact form. We are looking forward to speaking to you and hopefully helping you make something great happen. </p>
                <div class="row">
                    <div class="col-md-6 col-sm-6 our-address top40">
                        <h5 class="bottom25">Our Address</h5>
                        <p class="bottom15">107 Irish Street , Dumfries, DG1 2NP. </p>
                        <a class="pickus" href="#." data-text="Get Directions">Get Directions</a>
                    </div>
                    <div class="col-md-6 col-sm-6 our-address top40">
                        <h5 class="bottom25">Our Phone</h5>
                        <p class="bottom15">
                            Office Telephone : (01387) 267756 <span class="block">
                                Mobile : 07538583378
                            </span>
                        </p>
                        <a class="pickus" href="#." data-text="Call Us">Call Us</a>
                    </div>
                    <div class="col-md-6 col-sm-6 our-address top40">
                        <h5 class="bottom25">Our Email</h5>
                        <p class="bottom15">Main Email : info@charliedigital.co.uk <span class="block">Inquiries : info@charliedigital.co.uk</span> </p>
                        <a class="pickus" href="#." data-text="Send a Message">Send a Message</a>
                    </div>
                    <div class="col-md-6 col-sm-6 our-address top40">
                        <h5 class="bottom25">Our Support</h5>
                        <p class="bottom15">
                            Main Support : support@charliedigital.co.uk
                        </p>
                        <a class="pickus" href="#." data-text="Open a Ticket">Open a Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 margin_bottom">
                <form class="getin_form wow fadeInUp" data-wow-delay="400ms" id="form" onsubmit="return false;">
                    <div class="row">

                        <div class="col-sm-12" id="result"></div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group bottom35">
                                <input class="form-control" type="text" placeholder="First Name:" required id="first_name" name="first_name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group bottom35">
                                <input class="form-control" type="text" placeholder="Last Name:" required id="last_name" name="last_name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group bottom35">
                                <input class="form-control" type="email" placeholder="Email:" required id="email" name="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group bottom35">
                                <input class="form-control" type="tel" placeholder="Phone:" id="phone" name="phone">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group bottom35">
                                <textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="button btnprimary" id="submit_btn">submit request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Location Map here-->
    <div id="map-container">

        <iframe width='100%' height='100%' id='mapcanvas' src='https://maps.google.com/maps?q=107+Irish+St,+Dumfries+DG1+2NP&Roadmap&z=15&ie=UTF8&iwloc=&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class='zxos8_gm'>all the <a href='https://www.codeguesser.co.uk/ao.com'>best working AO.com vouchers</a> at Codeguesser.com</div><div style='overflow:hidden;'><div id='gmap_canvas' style='height:100%;width:700px;'></div><div><small>Powered by <a href='https://www.embedgooglemap.co.uk'>Embed Google Map</a></small></div></iframe>


    </div>
</section>
<!--Contact US Ends-->

<script>




</script>