@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="YSO2HojzC2hWJr0Y9NPXYFA7EzngYdHRb1B0-jfkUEU" />
<title>Charlie Digital</title>
<link href="favicon.png" rel="icon">
<link rel="stylesheet" href="/css/plugins.css">
<link rel="stylesheet" href="/css/style.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="90">

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-blocks">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <header class="site-header transparent-sidemenu">
        <nav class="navbar navbar-expand-lg transparent-bg static-nav">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/images/Charlie Logo Web.png" alt="logo" style="min-height:100px;width:178px;margin-top:10px;">
                </a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </button>
                <div class="collapse navbar-collapse" id="xenav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link pagescroll" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-feature">Features</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link pagescroll" href="#our-team">Team</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#portfolio-xe">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-pricings">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#contactus">contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--side menu open button-->
            <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
                <span></span> <span></span> <span></span>
            </a>
        </nav>

        <!-- side menu -->
        <div class="side-menu">
            <div class="inner-wrapper">
                <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                <nav class="side-nav">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item active">
                            <a class="nav-link pagescroll" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-feature">Features</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link pagescroll" href="#our-team">Team</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#portfolio-xe">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-pricings">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#our-blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pagescroll" href="#contactus">contact</a>
                        </li>
                    </ul>
                </nav>

                <div class="side-footer w-100">
                    <ul class="social-icons-simple white top40">
                        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
                    </ul>
                    <p class="whitecolor">&copy; 2020 Charlie Digital. Made by Charlie Digital</p>
                </div>
            </div>
        </div>
        <a id="close_side_menu" href="javascript:void(0);"></a>
        <!-- End side menu -->
    </header>
    <!-- header -->
    <!--Main Slider-->

    <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->

        @if (Umbraco.AssignedContentItem.Name == "Home")
        {
            <div id="rev_arrows" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-first" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/arrow-slide1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/charlieDigitalBanner.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-50','-50']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-xlight whitecolor text-center">Your Web Or Software Requirements </h1>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1500"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize fontbold whitecolor text-center">Delivered Here</h1>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                             data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="2000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h4 class="whitecolor font-light text-center">Software, Web, Animation and Mobile App Development from the heart of South West Scotland </h4>
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-index="rs-second" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="images/arrow-slide2.jpg">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/charlieDigitalWebDevelpoment.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-50','-50']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-xlight whitecolor text-center">Whatever You Are Looking For</h1>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1500"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize fontbold whitecolor text-center"><a href="#contact">We Can Help</a></h1>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                             data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="2000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h4 class="whitecolor font-light text-center">Please Get In Touch To Discuss What You Are Looking For And We Will Be More Than Happy To Help </h4>
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-index="rs-third" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/arrow-slide3.jpg">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/CharlieDigitalDumfries.jpg" alt="" data-bgposition="center center" data-ease="Linear.easeNone" data-rotatestart="0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-50','-50']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-xlight whitecolor text-center">Your Next Big Project</h1>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1500"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize fontbold whitecolor text-center">Taken Care Of By Charlie Digital</h1>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                             data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="2000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h4 class="whitecolor font-light text-center">Get In Touch : <a href="tel:123-456-7890">01387 267756</a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div id="rev_arrows2" class="rev_slider fullwidthabanner" style="display:none; height:400px!important;" data-version="5.4.1">
                <ul>

                    @{
                        var typedMultiMediaPicker = Model.Value<IEnumerable<IPublishedContent>>("bannerImages");
                        foreach (var slide in typedMultiMediaPicker)
                        {
                            <!-- SLIDE  -->
                            <li data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/arrow-slide1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
                                <!-- MAIN IMAGE -->
                                <img src="@slide.Url" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                <!-- LAYER NR. 1 -->
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="none" data-height="none" data-type="text"
                                     data-textAlign="['center','center','center','center']"
                                     data-responsive_offset="on" data-start="1500"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                    <h1 class="text-capitalize fontbold whitecolor text-center mainBannerHeader">@Model.Value("pageTitle")</h1>
                                </div>

                                <!-- LAYER NR. 3 -->

                            </li>


                        }
                    }




                </ul>
            </div>
        }

    </div>
    <!--Main Slider ends -->

    @RenderBody()
   
    <!--Site Footer Here-->
    <footer id="site-footer" class="padding_half">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> </a> </li>
                    </ul>
                    <p class="copyrights wow fadeInUp" data-wow-delay="350ms"> &copy; 2020 Charlie Digital. Designed and Developed by <a href="http://www.charliedigital.co.uk/" target="_blank">Charlie Digital</a> </p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.1.1.min.js"></script>

    <!--Bootstrap Core-->

    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!--to view items on reach-->
    <script src="/js/jquery.appear.js"></script>

    <!--Equal-Heights-->
    <script src="/js/jquery.matchHeight-min.js"></script>

    <!--Owl Slider-->
    <script src="/js/owl.carousel.min.js"></script>

    <!--number counters-->
    <script src="/js/jquery-countTo.js"></script>

    <!--Parallax Background-->
    <script src="/js/parallaxie.js"></script>

    <!--Cubefolio Gallery-->
    <script src="/js/jquery.cubeportfolio.min.js"></script>

    <!--FancyBox popup-->
    <script src="/js/jquery.fancybox.min.js"></script>

    <!-- Video Background-->
    <script src="/js/jquery.background-video.js"></script>

    <!--TypeWriter-->
    <script src="/js/typewriter.js"></script>

    <!--Particles-->
    <script src="/js/particles.min.js"></script>

    <!--WOw animations-->
    <script src="/js/wow.min.js"></script>

    <!--Revolution SLider-->
    <script src="/js/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revolution/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="/js/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.video.min.js"></script>

    <!--Google Map API-->
    <script src="<iframe width='100%' height='100%' id='mapcanvas' src='https://maps.google.com/maps?q=London,%20United%20Kingdom&Roadmap&z=10&ie=UTF8&iwloc=&output=embed"></script>
    <script src="/js/functions.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159875519-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-159875519-1');
    </script>
</body>
</html>