<?xml version="1.0" encoding="utf-8" ?>
<seo1902Settings>
  <checkers>
    <checkerGroup name="Template" alias="template">
      <checker name="Amp Page" alias="ampchecker" type="Seo1902.Core.Checkers.Template.AmpChecker" ></checker>
      <checker name="Broken Link" alias="brokenLinkChecker" type="Seo1902.Core.Checkers.Template.BrokenLinkChecker"></checker>
      <checker name="Href Lang" alias="hreflangchecker" type="Seo1902.Core.Checkers.Template.HrefLangChecker" ></checker>
      <checker name="Image Alternative Text" alias="imagealtchecker" type="Seo1902.Core.Checkers.Template.ImageAltChecker"  ></checker>
      <checker name="Meta Robot" alias="metarobotchecker" type="Seo1902.Core.Checkers.Template.MetaRobotChecker"></checker>

      <checker name="Title" alias="titlchecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
            <property key="MaximumLength" value="50" />
            <property key="MinimumLength" value="10" />
            <property key="Selector" value="Title" />
            <property key="Value" value="Text" />
        </properties>
      </checker>
      <checker name="Meta Description" alias="metadescriptionchecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
          <property key="MaximumLength" value="160" />
          <property key="MinimumLength" value="50" />
          <property key="AcceptableLength" value="135" />
            <property key="Selector" value="meta;name;description" /> <!--ex. <meta(ELEMENTNAME) name(ATTRIBUTE NAME)='description'(ATTRIBUTE VALUE) >-->
            <property key="Value" value="content" /> <!--ex. <meta name='description' content(ATTRIBUTE VALUE CONTENT NAME):'asda' >-->
        </properties>
      </checker>
      <checker name="Meta Keywords" alias="metakeywordchecker" type="Seo1902.Core.Checkers.Template.TagChecker" >
        <properties>
            <property key="Selector" value="meta;name;keywords" />
            <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Canonical Link" alias="linkrelcanonicalchecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
            <property key="Selector" value="link;rel;canonical" />
            <property key="Value" value="href" />
        </properties>
      </checker>
      <checker name="Twitter Title" alias="metatwittertitlechecker" type="Seo1902.Core.Checkers.Template.TagChecker" >
        <properties>
          <property key="MaximumLength" value="90" />
          <property key="MinimumLength" value="60" />
          <property key="Selector" value="meta;name;twitter:title" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Twitter Description" alias="metatwitterdescriptionchecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
          <property key="MinimumLength" value="70" />
          <property key="Selector" value="meta;name;twitter:description" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Twitter Image" alias="metatwitterimagechecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
          <property key="Selector" value="meta;name;twitter:image:src" />
          <property key="Value" value="content" />
        </properties>
      </checker>

      <checker name="Open Graph Title" alias="metaogtitlechecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
          <property key="MaximumLength" value="90" />
          <property key="MinimumLength" value="60" />
          <property key="Selector" value="meta;property;og:title" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Open Graph Description" alias="metaogdescriptionchecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
          <property key="MinimumLength" value="70" />
          <property key="Selector" value="meta;property;og:description" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Open Graph Image" alias="metaogimagechecker" type="Seo1902.Core.Checkers.Template.TagChecker" >
        <properties>
          <property key="Selector" value="meta;property;og:image" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      
      
      <checker name="Google+ Title" alias="metagoogletitlechecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
          <property key="MaximumLength" value="90" />
          <property key="MinimumLength" value="60" />
          <property key="Selector" value="meta;itemprop;name" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Google+ Description" alias="metagoogledescriptionchecker" type="Seo1902.Core.Checkers.Template.TagChecker" >
        <properties>
          <property key="MinimumLength" value="70" />
          <property key="Selector" value="meta;itemprop;description" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Google+ Image" alias="metagoogleimagechecker" type="Seo1902.Core.Checkers.Template.TagChecker">
        <properties>
          <property key="Selector" value="meta;itemprop;image" />
          <property key="Value" value="content" />
        </properties>
      </checker>
      <checker name="Google Publisher" alias="linkrelpublisherchecker" type="Seo1902.Core.Checkers.Template.TagChecker" >
        <properties>
          <property key="Selector" value="link;rel;publisher" />
          <property key="Value" value="href" />
        </properties>
      </checker>
    </checkerGroup>
    <checkerGroup name="Keyword" alias="keyword">
      <checker name="Good Results" alias="keywordgoodchecker" type="Seo1902.Core.Checkers.Keyword.KeywordGoodChecker"></checker>
      <checker name="Improvements" alias="improvementChecker" type="Seo1902.Core.Checkers.Keyword.KeywordImprovementChecker">
        <properties>
          <property key="AdvicedMaximumPercentage" value="2.5" />
        </properties>
      </checker>
    </checkerGroup>
    <checkerGroup name="Performance" alias="performance">
      <checker name="Additional Call" alias="additionalcallchecker" type="Seo1902.Core.Checkers.Performance.AdditionalCallsChecker">
        <properties>
          <property key="MaximumAdditionalCalls" value="30" />
          <property key="AcceptableAdditionalCalls" value="15" />
        </properties>
      </checker>
      <checker name="CSS Minification" alias="cssminificationchecker" type="Seo1902.Core.Checkers.Performance.CssMinificationChecker"></checker>
      <checker name="GZIP Compression" alias="gzipcompressionchecker" type="Seo1902.Core.Checkers.Performance.GzipCompressionChecker"></checker>
      <checker name="HTML Size" alias="htmlsizechecker" type="Seo1902.Core.Checkers.Performance.HtmlSizeChecker">
        <properties>
          <property key="MaximumSizeInBytes" value="33792" />
        </properties>
      </checker>
      <checker name="Image Size" alias="imagesizechecker" type="Seo1902.Core.Checkers.Performance.ImageSizeChecker">
        <properties>
          <property key="MaximumSizeInBytes" value="33792" />
        </properties>
      </checker>
      <checker name="JS Minification" alias="jsminificationchecker" type="Seo1902.Core.Checkers.Performance.JsMinificationChecker"></checker>
    </checkerGroup>
  </checkers>
  <!--set 0 to disable adding of 1902 SEO document type on create WARNING DONT LEAVE IT BLANK-->
  <addOnCreate>1</addOnCreate>
    <!--set 0 to use page name as title create WARNING DONT LEAVE IT BLANK-->
  <showMetaTitle>1</showMetaTitle>

  <!--note that this is only used if you have pages that require authentication. Also this is for forms authentication only. Other authentication method is not yet handled-->
  <!--Empty node to disable-->
  <memberAuthentication>
    <Username></Username>
    <Password></Password>
    <Domain></Domain>
  </memberAuthentication>

  <!--Domain to be used when scrapping static site when umbraco is used as backend only -->
  <staticSiteDomain>
  </staticSiteDomain>
</seo1902Settings>
